{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<link rel="icon" type="image/x-icon" href="/static/assets/favicon2.ico" />
{%include "header.html"%}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit Worker Status {% endblock %}

{% block content %}
<br>
<div class="content">

    <h1 class="heading" style="text-align:center"><b><u>Change the Status For Ms.{{user.worker_name}}</u></b> </h1>
    <div class="heading">
<br>
    <h1 class="heading" style="text-align:center"><a href="{{url_for('domec_users_list')}}" class="btn btn-dark"> Back to Edit Page </a> </h1>
</div>
</div>

<br><br>
<div class="content">
 {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <div class="alert alert-success" style="text-align:center;" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <br>
    <div class="content">
      {{ wtf.quick_form(form,novalidate=True,button_map={'submit':'primary'}, form_type="horizontal",horizontal_columns=('md',5, 5))}}
</div>


</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
{%include "domec_footer.html"%}
    {% endblock %}



