{%include "header.html"%}
<!--<link href="static/css/styles1.css" rel="stylesheet" />-->
<link rel="icon" type="image/x-icon" href="/static/assets/favicon2.ico" />
<br>

<div>
    <h3 style="text-align:right"><u> سياسة الخصوصية </u></h3>
</div>

<br>

<div>
    <h5 style="text-align:right"><u> -: التزامنا بمراعاة خصوصيتك</u></h5>
    <p style="text-align:right">تلتزم اسكاي تكنولوجي بحماية خصوصية عملائنا. وتنطبق سياسة حماية الخصوصية المعتمدة من قبل اسكاي تكنولوجي ("سياسة حماية الخصوصية")
على كل المعلومات الشخصية التي يتم جمعها من قبلنا أو تقديمها لنا دون الاتصال بالإنترنت (offline) أو بالاتصال بالإنترنت (online)، بما في ذلك المعلومات الشخصية التي يتم جمعها
 أو تقديمها من خلال الاتصال الهاتفي وغيرها من الميزات التفاعلية للجوّال ، من خلال صفحاتنا الرسمية على وسائل التواصل الاجتماعي التي نتحكم بها
 ("صفحاتنا على وسائل التواصل الاجتماعي")، ومن خلال رسائل HTML التي نرسلها إليكم (والمشار إليها مجتمعةً، بما في ذلك الصفحات على وسائل التواصل الاجتماعي والتطبيقات والمواقع الإلكترونية، بـ"المواقع"). ومن خلال تقديمكم المعلومات الشخصية لنا، توافقون على أحكام وشروط هذه السياسة.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -:
المعلومات الشخصية </u></h5>
    <p style="text-align:right">ما هي المعلومات الشخصية التي نجمعها؟
"المعلومات الشخصية" هي المعلومات التي تعرّف عنكم كأفراد، وتشمل:
الاسم,
اسم المستخدم,
رقم الهاتف (بما في ذلك رقم الهاتف الجوّال ورقم المنزل),
عنوان البريد الإلكتروني,
رقم بطاقة الأحوال المدنية,
بلد الإقامة,
اسم وعنوان الشركة,
معلومات الموقع,
المعلومات المجمّعة</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: كيف نجمع المعلومات الشخصية؟ </u></h5>
    <p style="text-align:right">قد نقوم نحن ومقدمو الخدمات لدينا بجمع معلومات شخصية بأساليب مختلفة، تشمل ما يلي:

دون اتصال بالإنترنت offline: يمكن أن نجمع المعلومات الشخصية منكم من دون أن تكونوا متّصلين بشبكة الإنترنت؛ مثلا عندما تتصلون بقسم خدمة العملاء.</p>
</div>



<div>
    <h5 style="text-align:right"><u> -: كيف نستخدم المعلومات الشخصية؟ </u></h5>
    <p style="text-align:right">قد نستخدم المعلومات الشخصية:

للرد على استفساراتكم وتلبية طلباتكم، مثل إرسال النشرات الإخبارية لكم أو الإجابة على أسئلتكم والرد على تعليقاتكم.,

لاستكمال وإنجاز عمليات الاستقدام مثل معالجة مدفوعاتكم، التواصل معكم فيما يخصّ عملية الاستقدام الخاصة بكم وتوفير خدمة العملاء المناسبة لكم.
لإرسال التحديثات والإعلانات المتعلقة بمنتجاتنا وحملاتنا الدعائية وبرامجنا، وإرسال دعوات لكم للمشاركة في برامج خاصة.
لإتاحة الفرصة أمامكم للاتصال بالمستخدمين الآخرين وتلقّي الاتصالات من قبلهم عبر المواقع، بحسب ما يتيحه الموقع المعمول به.

لأغراض أعمالنا مثل تحليل وإدارة أعمالنا، وإجراء دراسات السوق، ومراجعة الحسابات، وتطوير منتجات جديدة، وتعزيز مواقعنا، وتحسين خدماتنا ومنتجاتنا، وتحديد اتجاهات الاستخدام، وتحديد فعالية حملاتنا الترويجية، وتصميم تجربة ومحتويات المواقع خصيصًا بالاعتماد على نشاطاتكم السابقة على المواقع، وقياس رضا العملاء، وتوفير خدمة العملاء (بما فيها استكشاف الأخطاء وإصلاحها فيما يتعلّق بقضايا العملاء).

للمزيد من المعلومات حول الأغراض التي من أجلها نستخدم ملفات تعريف الارتباط، نرجو مراجعة سياسة ملفات تعريف الارتباط المعتمدة من قبلنا.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: الأمن </u></h5>
    <p style="text-align:right">نحن نعتمد تدابير نظامية وفنية وإدارية معقولة من أجل حماية المعلومات الشخصية التي تكون في حوزتنا. لكن وللأسف، لا يمكن أن نضمن إتمام أي نقل للبيانات على الإنترنت أو نظام حفظ بيانات بصورة آمنة تماما.

إذا كان لديكم أي سبب يدفعكم إلى الاعتقاد بأنّ نشاطكم معنا لم يعد آمنًا (مثلا، إذا شعرتم بأنّه قد تم اختراق أمن أي حساب لديكم معنا)، نرجو منكم إخطارنا على الفور بالمشكلة من خلال الاتصال بنا </p>
</div>

<div>
    <h5 style="text-align:right"><u> -: الدخول والتعديل والخيارات </u></h5>
    <p style="text-align:right">نقدّم لكم الكثير من الخيارات بخصوص استخدامنا لمعلوماتكم الشخصية وكشفنا عنها لأغراض التسويق.

إذا رغبتم في أي وقت في التوقف عن استلام الرسائل التسويقية من قبلنا، فالطريقة الأسهل للقيام بذلك هي باستخدام ميزة "إلغاء الاشتراك" في الرسائل التسويقية التي تتلقونها منا. ويمكنكم أيضًا إبلاغنا بذلك بتوجيه رسالة إلكترونية إلينا أو الاتصال بنا أو الكتابة لنا باستخدام معلومات الاتصال الواردة أدناه في قسم "اتصلوا بنا". نرجو منكم أن تحدّدوا في طلبكم أنّكم تودون التوقّف عن استلام الرسائل التسويقية من قبلنا.
بالإضافة إلى ذلك، لن نكشف عن معلوماتكم الشخصية لأي طرف ثالث، بما في ذلك الشركات التابعة لنا، لأغراض التسويق المباشرة الخاصة بهذا الطرف الثالث، في حال استلمنا وعالجنا طلبا مرسلا من قبلكم يطلب منا عدم مشاركة معلوماتكم الشخصية مع أطراف ثالثة لهذا الغرض. وإذا رغبتم في تقديم هكذا طلب، نرجو منكم إبلاغنا من خلال استخدام النموذج الوارد في "اتصلوا بنا". ونرجو منكم أن تذكروا بوضوح أنكّم تطلبون منا عدم الكشف عن معلوماتكم الشخصية للشركات التابعة لنا و/أو لأي أطراف ثالثة لأغراض التسويق المباشرة الخاصة بها.
سوف نسعى إلى تلبية طبلكم (طلباتكم) في أسرع وقت ممكن. نرجو الملاحظة أنّنا قد نستمرّ في توجيه رسائل إدارية مهمّة إليكم، حتى لو اخترتم عدم تلقي الرسائل المتعلقة بالتسويق، ولا يمكنكم أن تختاروا عدم استلام هذه الرسائل الإدارية.

من أجل مراجعة أو تصحيح أو تحديث أو إلغاء أو محو أو الحد بأي طريقة أخرى من استخدامنا لمعلوماتكم الشخصية التي سبق وقمتم بتوفيرها لنا، نرجو منكم استخدام النموذج الوارد في "اتصلوا بنا" وتحديد طلبكم بوضوح. ونرجو منكم أن توضّحوا في طلبكم المعلومات التي ترغبون في تغييرها أو أن تذكروا أنّكم ترغبون في أن يتم إلغاء معلوماتكم الشخصية من قاعدة بياناتنا أو إبلاغنا بالحدود التي ترغبون بفرضها على استخدام معلوماتكم الشخصية.
سنحاول الاستجابة لطلبكم في أسرع وقت ممكن. ولكن، وعلى الرغم من جهودنا، قد يبقى بعض المعلومات ضمن قاعدات بياناتنا أو سجلاتنا الأخرى والتي لا يمكننا إزالتها أو تغييرها. علاوةً على ذلك، نرجو منكم التنبه إلى أنّنا قد نحتاج إلى الاحتفاظ ببعض المعلومات لأغراض الحفظ و/أو لاستكمال أي معاملة بدأتم بها قبل طلب إجراء هذا التغيير أو الإلغاء (مثال: عندما تقومون بعملية شراء أو تدخلون في حملة دعائية، قد لا تستطيعون تغيير أو مسح المعلومات الشخصية التي سبق توفيرها إلى حين استكمال عملية الشراء أو الحملة الدعائية).
</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: مواقع الأطراف الثالثة </u></h5>
    <p style="text-align:right">لا تتطرق هذه السياسة إلى خصوصية أو معلومات أو ممارسات أي أطراف ثالثة أخرى، بما فيها أي طرف ثالث يقوم بتشغيل أي موقع متوفر ضمن الروابط المشمولة في موقع إي أف، ولا نتحمل أي مسؤولية في هذا الصدد. إن إدراج رابط على مواقع إي أف لا يعني موافقتنا أو موافقة الشركات التابعة لنا على الموقع المربوط.

علاوةً على ذلك، يمكن أن نوفر لكم إمكانية الوصول إلى وظيفة طرف ثالث، بما يتيح لكم إضافة المحتويات إلى حساباتكم على مواقع التواصل الاجتماعي. نرجو الملاحظة بأنّ أي معلومات تقومون بتوفيرها من خلال استخدام هذه الوظيفة تخضع لسياسة حماية الخصوصية المعمول بها من قبل الطرف الثالث وليس لسياسة حماية الخصوصية الحاضرة. وبالتالي، نحن لا نملك السيطرة على، ولسنا مسؤولين عن، استخدام أي طرف ثالث لهذه المعلومات التي قمتم بتوفيرها من خلال استخدام هذه الوظيفة.

وأيضًا، نحن لسنا مسؤولين عن سياسات وممارسات جمع واستخدام البيانات والكشف عنها (بما فيها ممارسات أمن البيانات) الخاصة بمؤسسات أخرى مثل فيسبوك وآبل وجوجل ومايكروسوفت و"ريم" أو أي مطوّر تطبيقات آخر أو موفر تطبيقات أو موفر منصات لوسائل التواصل الاجتماعي أو موفر نظام تشغيل أو موفّر خدمة لاسلكية أو مصنّع أجهزة، بما في ذلك أي معلومات شخصية تكشفون عنها لمؤسسات أخرى من خلال أو فيما يتعلق بالتطبيقات أو بصفحات وسائل التواصل الاجتماعي.
</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: فترة الاحتفاظ بالمعلومات </u></h5>
    <p style="text-align:right">سنحتفظ بمعلوماتكم الشخصية للفترة اللازمة من أجل تحقيق الأغراض المذكورة في هذه السياسة.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: استخدام المواقع من قبل القاصرين </u></h5>
    <p style="text-align:right">نحن نقدّم برامج للأطفال يشتريها الراشدون. وبغية حماية خصوصية الأطفال، نطلب موافقة الأهل من المستخدمين الذين لم يبلغوا بعد سن الرشد المحدد في بلد إقامتهم ويرغبون في إجراء حجز أو طلب كتيّب لأحد هذه البرامج.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: المعلومات الحساسة </u></h5>
    <p style="text-align:right">نطلب منكم عادةً ألا ترسلوا أو تكشفوا لنا عن أي معلومات حساسة (مثال: المعلومات المرتبطة بالأصل الإثني أو العرقي، الآراء السياسية، المعتقدات الدينية أو غيرها، الحالة الصحية أو الطبية، الخلفية الجنائية أو العضوية النقابية) على أو عبر المواقع أو غير ذلك. وفي بعض الحالات الاستثنائية الخاصة التي قد تتطلب ذلك، مثل طلبات التأمين، سنحدد لكم بوضوح كيفية القيام بذلك بكل أمان.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -:
تحديثات سياسة حماية الخصوصية </u></h5>
    <p style="text-align:right">قد نجري تغييرات على هذه السياسة. لذلك، نرجو منكم إلقاء نظرة على مفتاح "التحديث الأخير" في أعلى هذه الصفحة لمعرفة تاريخ آخر مراجعة أجريت على هذه السياسة. يسري مفعول أي تغييرات قد نجريها على سياسة حماية الخصوصية منذ لحظة نشر سياسة حماية الخصوصية المراجعة على الموقع. ويعني استخدامكم المواقع بعد إجراء هذه التغييرات أنّكم توافقون على سياسة حماية الخصوصية المراجعة.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: اتصلوا بنا </u></h5>
    <p style="text-align:right">إذا كانت لديكم أي أسئلة بخصوص سياسة حماية الخصوصية، نرجو منكم الاتصال بنا </p>
</div>

    <div class="heading">
<br>
    <h1 class="heading" style="text-align:center"><a href="{{url_for('home')}}" class="btn btn-dark"> الانتقال للصفحة الرئيسية </a> </h1>
</div>



{%include "footer.html"%}




