{%include "header.html"%}
<!--<link href="static/css/styles1.css" rel="stylesheet" />-->
<link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
<br>
<div>
    <h3 style="text-align:right"><u> الشروط والأحكام</u></h3>
</div>
<br>
<div>
    <h5 style="text-align:right"><u> -: شروط الموقع </u></h5>
    <p style="text-align:right">تخبرك شروط الموقع الإلكتروني هذه (بالإضافة إلى المستندات المشار إليها) ("شروط الموقع") بالشروط التي يمكنك بموجبها استخدام موقعنا. يُرجى قراءة شروط الموقع هذه بعناية قبل البَدْء في استخدام الموقع. باستخدامك للموقع الإلكتروني، فإنك تؤكد أنك تقبل شروط الموقع هذه وأنك توافق على الالتزام بها. إذا كنت لا توافق على شروط الموقع هذه، فيُرجى الامتناع عن استخدام الموقع.نحتفظ بالحق في تغيير شروط الموقع هذا من وقت لآخر دون إخطارك.</p>
</div>

<div>
    <h5 style="text-align:right"><u> -: معلومات عنا </u></h5>
    <p style="text-align:right">هذا الموقع الالكتروني مملوك لمؤسسة السلالم الدولية للاستقدام حيث هي مؤسسة استقدام عنوانها (جدة -شارع صفية بنت عبد المطلب - المملكة العربية السعودية) سجل تجاري رقم 4030286848 وتتم ادارته بواسطة شركة اسكاي تكنولوجي  وهي شركة مقرها في جمهورية السودان - الخرطوم -الخرطوم بحري - شارع البلدية بسجل تجاري رقم 30011988 ورقم ضريبي 05021990. كما يمكنكم مراسلتنا على البريد الالكتروني : (rnsdoodi9@gmail.com)</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: الدخول إلى الموقع </u></h5>
    <p style="text-align:right">يُسمح بدخول الموقع على أساس مؤقت ونحتفظ بالحق في سحب أو تعديل الخدمة التي نقدمها على الموقع دون إشعار (انظر أدناه). لن نكون مسؤولين إذا كان الموقع غير متاح لأي سبب من الأسباب في أي وقت أو لأي فترة.يجوز لنا من وقت لآخر تقييد دخول جزء من الموقع أو كله.

إذا اخترت باسم مستخدم أو كلمة مرور أو أي جزء آخر من المعلومات أو تم تزويدك بها كجزء من إجراءاتنا الأمنية، فيجب عليك التعامل مع هذه المعلومات على أنها سرية ويجب ألا تفصح عنها لأي طرف ثالث. لدينا الحق في تعطيل أي اسم مستخدم أو كلمة مرور، سواء اخترتها أنت أو خصصناها نحن، في أي وقت إذا كنت، حسبما نرى، قد فشلت في الامتثال لأي من بنود شروط الموقع هذه.

أنت مسؤول عن اتخاذ جميع الترتيبات اللازمة لتتمكن من دخول الموقع. أنت مسؤول أيضًا عن التأكد من أن جميع الأشخاص الذين يدخلون إلى الموقع الويب من خلال وصلة الإنترنت الخاصة بك على دراية بشروط الموقع هذه وأنهم يمتثلون لها.</p>
</div>

<div>
    <h5 style="text-align:right"><u> -: حقوق الملكية الفكرية</u></h5>
    <p style="text-align:right">نحن المالك أو المرخص له لجميع حقوق الملكية الفكرية في الموقع وفي المحتوى المقدم أو المعروض عليه، بما في ذلك، على سبيل المثال لا الحصر، النصوص والزخارف والصور الفوتوغرافية والصور المتحركة والأصوات والشعارات والرسوم التوضيحية والبرامج وعلاماتنا التجارية. هذه الأعمال محمية بموجب قوانين ومعاهدات العلامات التجارية وحقوق التأليف والنشر في جميع أنحاء العالم. جميع هذه الحقوق محفوظة.

باستثناء ما هو مسموح به صراحةً بموجب هذه الاتفاقية أو أي اتفاقية أخرى معنا، لا يجوز نسخ أو إعادة نقل أي جزء أو عنصر من الموقع أو محتواه عبر أي وسيلة ويظل الموقع ومحتواه وجميع الحقوق ذات الصلة ملكية حصرية لنا أو للمرخصين لهم لدينا ما لم يتم الاتفاق على خلاف ذلك صراحةً.

لا يجوز لك استخدام أي جزء من المواد الموجودة على الموقع لأغراض تجارية دون الحصول على ترخيص كتابي صريح منا بذلك. إذا قمت بطباعة أو نسخ أو تنزيل أي جزء من الموقع بالمخالفة لشروط الموقع هذه، فسيتوقف حقك في استخدام الموقع على الفور ويجب عليك، حسبما نرى، إعادة أو إتلاف أي نسخ من المواد التي قمت بإنشائها.</p>
</div>

<div>
    <h5 style="text-align:right"><u> -: الموقع يتغير بانتظام </u></h5>
    <p style="text-align:right">نهدف إلى تحديث الموقع بانتظام وقد نقوم بتغيير المحتوى في أي وقت. يجوز لنا تعليق دخول الموقع أو إغلاقه إلى أجل غير مسمى إذا دعت الحاجة إلى ذلك. قد تكون أي من المواد الموجودة على الموقع قديمة في أي وقت ونحن لسنا ملزمين بتحديث هذه المواد.</p>
</div>

<div>
    <h5 style="text-align:right"><u> -: مسؤوليتنا </u></h5>
    <p style="text-align:right">يتم توفير المواد المعروضة على الموقع دون أي إقرارات أو ضمانات أو شروط فيما يتعلق بدقتها أو اكتمالها</p>
</div>

<div>
    <h5 style="text-align:right"><u> -: إذا كنت مستخدمًا تجارياً </u></h5>
    <p style="text-align:right">جميع الشروط والضمانات والشروط الأخرى التي قد تكون ضمنية بخلاف ذلك بموجب القانون الأساسي أو القانون العام أو قانون الإنصاف؛ وأي مسؤولية عن أي خسارة أو ضرر مباشر أو غير مباشر أو تبعي يتكبده أي مستخدم فيما يتعلق بالموقع أو فيما يتعلق باستخدام أو عدم القدرة على استخدام أو ناتج عن استخدام الموقع وأي مواقع مرتبطة بالموقع وأي مواد تنشر عليه، بما في ذلك:
خسارة الدخل أو العائدات؛خسارة العمل؛خسارة الأرباح أو العقود؛خسارة المدخرات المتوقعة ؛فقد البيانات؛ فقد السمعة الطيبة؛ وإهدار الإدارة أو وقت المكتب،سواء كان ذلك ناتجًا عن مسؤولية تقصيرية (بما في ذلك الإهمال) أو خرق العقد أو غير ذلك، حتى لو كان متوقعًا، شريطة ألا يمنع هذا الشرط المطالبات المتعلقة بفقد أو تلف ممتلكاتك المادية أو أي مطالبات أخرى تتعلق بالخسارة المالية المباشرة التي لا تستبعدها أي من الفئات المذكورة أعلاه.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: إذا كنت مستهلكًا </u></h5>
    <p style="text-align:right">يُرجى الملاحظة بأننا نقدم موقعنا للاستخدام  الخاص فقط. أنت توافق على عدم استخدام موقعنا لأي أغراض تجارية أو خاصة بالأعمال، ولا نتحمل أي مسؤولية تجاهك عن أي خسارة في الربح، أو خسارة في العمل، أو توقف العمل، أو خسارة فرصة عمل.

إذا تسبب محتوى رقمي معيب قدمناه في إلحاق الضرر بجهاز أو محتوى رقمي خاص بك، وكان هذا ناتجًا عن فشلنا في استخدام العناية والمهارة المعقولتين، فسنقوم بإصلاح الضرر. ومع ذلك، لن نتحمل المسؤولية عن الضرر الذي كان من الممكن تجنبه باتباع نصائحنا بتطبيق تحديث مقدم لك مجانًا أو عن الضرر الذي سببه عدم اتباعك لإرشادات التثبيت بشكل صحيح أو تطبيق الحد الأدنى من متطلبات النظام التي نصحنا بها.

سواء كنت مستهلكًا أو مستخدمًا تجاريًا:
نحن لا نستبعد أو نحد من مسؤوليتنا تجاهك عن الوفاة أو الإصابة الشخصية الناشئة عن إهمالنا أو مسؤوليتنا عن الغِشّ الاحتيالي أو الغِشّ فيما يتعلق بمسألة أساسية، ولا أي مسؤولية أخرى لا يمكن استبعادها أو تقييدها بموجب القانون المعمول به

لا يُقصد من التعليقات والمواد الأخرى المنشورة على الموقع أن ترقى إلى مستوى النصيحة التي ينبغي الاعتماد عليها. لذلك فإننا نخلي مسؤوليتنا عن أي اعتماد على هذه المواد من قبل أي زائر للموقع أو من قبل أي شخص قد يكون على علم بأي من محتوياته</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: معلومات عنك وعن زياراتك للموقع </u></h5>
    <p style="text-align:right">نحن نقوم بمعالجة المعلومات الخاصة بك وفقًا <a href="{{url_for('privacy')}}"> لسياسة الخصوصية</a> الخاصة بنا باستخدامك للموقع، فإنك تؤكد موافقتك على المعالجة المنصوص عليها في سياسة الخصوصية الخاصة بنا وتضمن أن جميع البيانات التي تقدمها دقيقة.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: تحميل المحتوى </u></h5>
    <p style="text-align:right">عندما تستخدم ميزة تسمح لك بتحميل مواد على الموقع، أو بالتفاعل معنا أو مع مستخدمين آخرين للموقع، يجب عليك الامتثال لمعايير المحتوى المنصوص عليها في شروط الموقع هذه. أنت تضمن بأن أي مساهمة من هذا القبيل تمتثل للشروط المنصوص عليها هنا وأنك تملك و/أو تتمتع بالحق في تحميل المحتوى. ستعوضنا عن أي خرق لتلك الضمانات. هذا يعني أنك ستكون مسؤولاً عن أي خسارة أو ضرر نتعرض له نتيجة لخرق الضمان.

ستُعتبر أي مادة تقوم بتحميلها على الموقع غير سرية ولا تخضع لحقوق ملكية، وبتحميل هذه المواد فإنك تمنحنا حقًا لا رجعة فيه في استخدام أي من هذه المواد ونسخها وتوزيعها والإفصاح عنها لأطراف ثالثة لأي غرض من الأغراض. لدينا أيضًا الحق في الكشف عن هويتك، وفقًا لشروط سياسة الخصوصية الخاصة بنا، لأي طرف ثالث يدّعي أن أي مادة قمت بنشرها أو تحميلها على الموقع الإلكتروني تشكل انتهاكًا لحقوق الملكية الفكرية أو حقوق الخصوصية الخاصة بهم.

لن نتحمل المسؤولية تجاه أي طرف ثالث عن محتوى أو دقة أي مواد تنشرها أنت أو أي مستخدم آخر للموقع.

لدينا الحق في إزالة أي مواد أو منشورات تضعها على الموقع إذا رأينا أن هذه المواد لا تتوافق مع معايير المحتوى المنصوص عليها في سياسة الاستخدام المقبول المنصوص عليها في البند 9 أدناه.

ستتحمل وحدك مسؤولية تأمين أي مواد يتم تحميلها على موقعنا ونسخها احتياطيًا.</p>
</div>

<div>
    <h5 style="text-align:right"><u> -: الاستخدام المقبول </u></h5>
    <p style="text-align:right">الاستخدامات المحظورة
لا يجوز لك استخدام موقعنا إلا لأغراض مشروعة. لا يجوز لك استخدام موقعنا:

بأي طريقة تنتهك أي قانون أو لائحة محلية أو وطنية أو دولية معمول بها؛
بأي طريقة غير قانونية أو احتيالية أو لها أي غرض أو تأثير غير قانوني أو احتيالي؛
لغرض إيذاء أو محاولة إيذاء القصّر بأي شكل من الأشكال؛
للتنمر على أو إهانة أو تخويف أو إذلال أي شخص؛
لإرسال أو تلقي عن علم أو تحميل أو تنزيل أو استخدام أو إعادة استخدام أي مادة لا تتوافق مع معايير المحتوى المحددة أدناه؛
لإرسال أو شراء أي مواد إعلانية أو ترويجية غير مرغوب فيها أو غير مصرح بها أو أي شكل آخر من أشكال الالتماس المماثل (البريد العشوائي).
أنت توافق أيضًا على عدم إعادة إنتاج أو تكرار أو نسخ أو إعادة بيع أي جزء من موقعنا بما يتعارض مع أحكام شروط الموقع الخاصة بنا.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: معايير المحتوى </u></h5>
    <p style="text-align:right">تنطبق معايير المحتوى هذه على أي وجميع المواد التي تساهم بها في الموقع الإلكتروني وأي خدمات تفاعلية مرتبطة به.

يجب أن تمتثل لروح المعايير التالية بالإضافة إلى نصها. تنطبق المعايير على كل جزء من أي مساهمة وكذلك عليها كلها.

يجب أن يكون المحتوى دقيقًا (حيث ينص على حقائق)، وأن يحتوي على وجهات نظر صادقة (حيث يشير إلى آراء) وأن يتوافق مع القانون المعمول به في المملكة المتحدة وفي أي بلد يتم نشره منه.

لا يجوز للمحتوى أن:

يحتوي على أي مواد تشهيرية لأي شخص؛
يحتوي على أي مواد بذيئة أو مسيئة أو تنطوي عن كراهية أو تحريض؛
يروج لمواد جنسية صريحة أو عنف أو نشاط غير قانوني؛
يروج للتمييز على أساس العرق أو الجنس أو الدين أو الجنسية أو الإعاقة أو التوجه الجنسي أو العمر؛
ينتهك أي حقوق طبع ونشر أو علامة تجارية أو غيرها من حقوق الملكية الفكرية لأي شخص آخر؛
يتضمن المعلومات الشخصية لأي فرد لم يوافق على استخدام معلوماته الشخصية بهذه الطريقة؛
يكون مضللاً أو من المحتمل أن يخدع أي شخص؛
يكون إعلانًا أو أي التماس تجاري آخر؛
يتم خرق أي واجب قانوني مستحق لطرف ثالث، مثل واجب تعاقدي أو واجب الثقة؛
يهدد أو يسيء أو يضايق أو ينتهك خصوصية الآخرين أو يسبب إزعاجًا أو إحراجًا أو قلقًا أو توترًا لا داعي له؛
يُستخدم لانتحال شخصية أي شخص أو تحريف هويتك أو انتمائك لأي شخص (بما في ذلك، على سبيل المثال لا الحصر، من خلال إعطاء الانطباع بأن المحتوى صادر منا، إذا لم يكن الأمر كذلك)؛ و/أو
يدعو إلى أو يروج لعمل غير قانوني أو يساعد أي عمل غير قانوني مثل (على سبيل المثال فقط) انتهاك حقوق النشر أو إساءة استخدام الكمبيوتر.
الانتهاكات
سنحدد، وفقًا لتقديرنا، ما إذا كان هناك انتهاك لشروط الموقع هذه من خلال استخدامك للموقع. عند حدوث انتهاك لشروط الموقع هذه، يجوز لنا اتخاذ الإجراء الذي نراه مناسبًا.

يشكل عدم الامتثال لشروط الاستخدام المقبولة هذه انتهاكًا ماديًا لشروط الموقع وقد يؤدي إلى اتخاذنا جميع الإجراءات التالية أو أي منها:

السحب الفوري أو المؤقت أو الدائم لحقك في استخدام الموقع؛
الإزالة الفورية أو المؤقتة أو الدائمة لأي منشورات أو مواد قمت بتحميلها على الموقع؛
إصدار تحذير لك؛
إجراءات قانونية ضدك لسداد جميع التكاليف على أساس التعويض (بما في ذلك، على سبيل المثال لا الحصر، التكاليف الإدارية والقانونية المعقولة) الناتجة عن الانتهاك؛
إجراء قانوني آخر ضدك؛ والكشف عن هذه المعلومات إلى سلطات إنفاذ القانون حسبما نرى بشكل معقول أنه ضروري.
نحن نستبعد المسؤولية عن الإجراءات المتخذة ردًا على انتهاكات شروط الاستخدام المقبولة هذه. ردود الأفعال الموضحة في شروط الموقع هذه غير محدودة وقد نتخذ أي إجراء آخر نراه مناسبًا بشكل معقول.</p>
</div>



<div>
    <h5 style="text-align:right"><u> -:  الفيروسات والقرصنة والجرائم الأخرى </u></h5>
    <p style="text-align:right">يجب ألا تسيء استخدام الموقع عن طريق إدخال فيروسات أو أحصنة طروادة أو ديدان أو قنابل منطقية أو مواد أخرى خبيثة أو ضارة تقنيًا عن عمد. يجب ألا تحاول الحصول على حق دخول غير مصرح به إلى الموقع أو التدخل فيه أو إتلافه أو تعطيله هو أو الخادم الذي تم تخزين الموقع عليه أو أي خادم أو كمبيوتر أو قاعدة بيانات متصلة بالموقع. يجب ألا تهاجم الموقع عن طريق هجوم رفض الخدمة أو هجوم رفض الخدمة الموزع.

بانتهاكك لهذا البند، فإنك ترتكب جريمة جنائية بموجب قانون إساءة استخدام الكمبيوتر لعام 1990. سنقوم بالإبلاغ عن أي انتهاك من هذا القبيل إلى سلطات إنفاذ القانون ذات الصلة وسوف نتعاون مع تلك السلطات بالكشف عن هويتك لهم. في حالة حدوث مثل هذا الانتهاك، سيتوقف حقك في استخدام الموقع على الفور.

لن نتحمل المسؤولية عن أي خسارة أو ضرر ناتج عن هجوم رفض الخدمة الموزع أو الفيروسات أو غيرها من المواد الضارة تقنيًا التي قد تصيب أجهزة الكمبيوتر أو برامج الكمبيوتر أو البيانات أو المواد الأخرى الخاصة بك بسبب استخدامك للموقع أو تنزيلك لأي مادة منشورة عليه أو على أي موقع مرتبط به.
</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: روابط الموقع </u></h5>
    <p style="text-align:right">يجب عليك عدم الارتباط بصفحتنا الرئيسية أو إنشاء رابط لأي جزء من الموقع دون موافقتنا الخطية المسبقة. عند تقديم الموافقة، يجب عليك:

عدم إنشاء رابط إلا بطريقة عادلة وقانونية ولا تضر بسمعتنا أو تستغلها؛
عدم إنشاء رابط بطريقة توحي بأي شكل من الأشكال الارتباط أو الموافقة أو التأييد من جانبنا في حالة عدم وجود ذلك؛
عدم إنشاء رابط لموقعنا في أي موقع لا تملكه أنت؛
عدم تأطير موقعنا على أي موقع إلكتروني آخر، وعدم إنشاء رابط لأي جزء من موقعنا بخلاف الصفحة الرئيسية
التأكد من أن الموقع الإلكتروني الذي تربطه يمتثل من جميع النواحي بمعايير المحتوى المنصوص عليها في سياسة الاستخدام المقبول الموضحة في البند 9 أعلاه.
نحتفظ بالحق في سحب أي رابط غير مصرح به دون إشعار.</p>
</div>



<div>
    <h5 style="text-align:right"><u> -: روابط من الموقع </u></h5>
    <p style="text-align:right">عندما يحتوي الموقع على روابط لمواقع إلكترونية وموارد أخرى مقدمة من جهات خارجية، يتم توفير هذه الروابط لمعلوماتك فقط ويمكنك الوصول إليها بالكامل على مسؤوليتك الخاصة. لا ينبغي تفسير هذه الروابط على أنها موافقة من جانبنا على تلك المواقع الإلكترونية التي وضعت لها روابط أو المعلومات التي قد تحصل عليها منها. ليس لدينا سيطرة على محتوى تلك المواقع الإلكترونية أو الموارد ولا نتحمل أي مسؤولية عنها أو عن أي خسارة أو ضرر قد ينشآن عن استخدامك لها.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: الأطفال </u></h5>
    <p style="text-align:right">إذا كان عمرك أقل من 13 عامًا، فيجب أن تطلب الإذن من أحد والديك أو ولي أمرك قبل أن:

تحمّل أي محتوى على الموقع؛
ترسل رسائل بريد إلكتروني إلى الموقع أو تطلب منا إرسال أي شيء إليك عبر البريد الإلكتروني؛
ترسل أي معلومات إلينا؛
تشارك في أي مسابقة أو لعبة تتطلب معلومات عنك أو تقدم جائزة؛ أو
تشتري أي شيء عبر الإنترنت.
باستمرارك في استخدام الموقع وأي من الخدمات المقدمة، فإنك تؤكد أنك حصلت على إذن من أحد الوالدين أو ولي الأمر للقيام بذلك.

إذا كان عمرك أقل من 13 عامًا، فيجب أن تطلب إذنًا من أحد الوالدين أو ولي الأمر قبل إرسال أي معلومات عن نفسك.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: الاختصاص والقانون واجب التطبيق </u></h5>
    <p style="text-align:right">تتمتع محاكم جمهورية السودان ومحاكم المملكة العربية السُّعُودية بالاختصاص الحصري على أي دعوى تنشأ عن أو تتعلق بزيارة الموقع على الرغم من أننا نحتفظ بالحق في رفع دعوى ضدك لخرق هذه الشروط في بلد إقامتك أو أي دولة أخرى ذات صلة.

تخضع شروط الموقع هذه وأي نزاع أو مطالبة تنشأ عنها أو فيما يتعلق بها أو موضوعها أو تكوينها (بما في ذلك النزاعات أو المطالبات غير التعاقدية) لقانون جمهورية السودان وقانون المملكة العربية السُّعُودية ويتم تفسيرها وفقًا لها.

إذا أصبح أي جزء من شروط الموقع هذه باطلاً، فلن يؤثر ذلك على صلاحية وإنفاذ الأحكام المتبقية. سيتم استبدال الجزء الباطل بأحكام صالحة ولها أثر قانوني.</p>
</div>


<div>
    <h5 style="text-align:right"><u> -: مخاوفك </u></h5>
    <p style="text-align:right">
 rnsdoodi9@gmail.com إذا كانت لديك أية مخاوف بشأن المواد التي تظهر على الموقع أو بشأن شروط الموقع هذه، فيُرجى تناولها عن طريق إرسال رسالة بريد إلكتروني إلينا على</p>
</div>


<br><br>

<div>
    <p style="text-align:right">آخر تحديث 02-01-2022 م </p>
</div>



    <div class="heading">
<br>
    <h1 class="heading" style="text-align:center"><a href="{{url_for('home')}}" class="btn btn-dark"> أوافق على الشروط والأحكام وأرغب في الاستمرار </a> </h1>
</div>



{%include "footer.html"%}